<div class="fluid-container">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="col-8">
            <form #postform="ngForm"(ngSubmit)="addConcert(postform.value)">

                <div class="input-group">
                    <span class="input-group-text">Event Date:</span>
                    <input type="text" class="form-control" required ngModel name="date">
                </div>

                <div class="input-group">
                    <span class="input-group-text">Event Name:</span>
                    <input type="text" class="form-control" required ngModel name="event">
                </div>

                <div class="input-group">
                    <span class="input-group-text">Event Location:</span>
                    <input type="text" class="form-control" required ngModel name="location">
                </div>
                <button class="btn btn-dark" type="submit" [disabled]="!postform.valid">
                    Add Event
                </button>
            </form>
        </div>
    </div>
    <div class="col-1"></div>
</div>
