<div class="container-fluid">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4"><h1 class="display-1 text-center" style="font-family: 'Arial Black'">CONTACT US</h1></div>
    <div class="col-4"></div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-4">
      <form>
        <div class="form-group">
          <label for="contactName" style="font-weight: 700;">FULL NAME</label>
          <input type="email" class="form-control bottom-border" id="contactName" style="width: 100%;">
        </div>
        <div class="form-group">
            <label for="contactEmail" style="font-weight: 700;">EMAIL</label>
            <input type="email" class="form-control bottom-border" id="contactEmail" style="width: 100%;">
          </div>
          <div class="form-group">
            <label for="contactMessage" style="font-weight: 700;">MESSAGE</label>
            <textarea class="form-control bottom-border" id="exampleFormControlTextarea1" style="width: 100%;" rows="3"></textarea>
          </div>
        <button type="submit" class="btn btn-dark btn-lg">SUBMIT</button>
      </form> 
    </div>
    <div class="col-5"><img src = "/assets/contacts.jpg" width = "900" height = "500"></div>
    <div class="col-2"></div>
  </div>
  <div class="row">
    <div class="col-5"></div>
    <div class="col-6"><h5 style="font-weight: bolder; font-family: 'Arial Black'">MGMT:</h5></div>
    <div class="col-2"></div>
  </div>
  <div class="row">
    <div class="col-5"></div>
    <div class="col-6"><h5><a href="Nick@mnifest.co" style="color: rgb(195, 121, 241); font-weight: 400;">Nick@mnifest.co</a></h5></div>
    <div class="col-2"></div>
  </div>
  <div class="row">
    <div class="col-5"></div>
    <div class="col-6"><h5 style="font-weight: bolder; font-family: 'Arial Black'">BOOKINGS:</h5></div>
    <div class="col-2"></div>
  </div>
  <div class="row">
    <div class="col-5"></div>
    <div class="col-6"><h5><a href="guy.oldaker@unitedtalent.com" style="color: rgb(195, 121, 241); font-weight: 400;">guy.oldaker@unitedtalent.com</a></h5></div>
    <div class="col-2"></div>
  </div>
  <div class="row">
    <div class="col-5"></div>
    <div class="col-6"><h5 style="font-weight: bolder; font-family: 'Arial Black'">PRESS:</h5></div>
    <div class="col-2"></div>
  </div>
  <div class="row">
    <div class="col-5"></div>
    <div class="col-6"><h5><a href="weinstein@bighassle.com" style="color: rgb(195, 121, 241); font-weight: 400;">weinstein@bighassle.com</a></h5></div>
    <div class="col-2"></div>
  </div>
  <div class="row">
    <div class="col-5"></div>
    <div class="col-6"> <h5><a href="harper@bighassle.com" style="color: rgb(195, 121, 241); font-weight: 400;">harper@bighassle.com</a></h5></div>
    <div class="col-2"></div>
  </div>
</div>