<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10"><h1 class="display-1" style="font-family: 'Arial Black'">EARTH MAGIC TOUR</h1></div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <a target="_blank" href="https://www.bandsintown.com/a/6788131-inzo?affil_code=js_inzomusic.com&app_id=js_inzomusic.com&came_from=242&trigger=track&utm_campaign=track&utm_medium=web&utm_source=widget" style="font-size: larger; color: rgb(195, 121, 241); font-weight: bold;">Track</a>
            <a style="font-size: larger; color: rgb(195, 121, 241); font-weight: bold;"> to get concert, live stream and tour updates.</a> 
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <a style="font-size: larger; color: rgb(195, 121, 241); font-weight: bold; font-size: small;">Upcoming Dates</a> 
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10"><app-concerts></app-concerts></div>
        <div class="col-1"></div>
    </div>
</div>