<nav class="navbar">
  <div class="column">
    <div class="row">
      <div class="pull-left" style="font-size: larger;">© COPYRIGHT 2023 INZO. ALL RIGHTS RESERVED.</div>
    </div>
    <div class="row">
      <div class="text-start">
        <a style="font-size: larger">SITE BY </a> 
      <a target="_blank" href="https://elevatecg.com/" style="font-size: larger; color: rgb(195, 121, 241);">ELEVATE CREATIVE GROUP</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="row">
      
    </div>
    <div class="row">
      <div class="text-end">
        <a target="_blank" href="https://inzomusic.com/privacy-policy/" style="font-size: larger; color: rgb(195, 121, 241);">PRIVACY POLICY</a>
        <a> | </a>
        <a target="_blank" href="https://inzomusic.com/terms-conditions/" style="font-size: larger; color: rgb(195, 121, 241);">TERMS & CONDITIONS</a>
    </div>
  </div>



