<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10"><h1 class="display-2" style="font-family: 'Arial Black'">UPCOMING SHOWS</h1></div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10"><app-concerts></app-concerts></div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <app-merch></app-merch>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10"><h1 class="display-2" style="font-family: 'Arial Black'">MUSIC</h1></div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-5"><app-spotify></app-spotify></div>
        <div class="col-6"><img src = "/assets/homepage-concert.jpg" width = "844" height = "500" style = "margin-left: 5%;"></div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10"><h1 class="display-1 text-end" style="font-family: 'Arial Black'">VIDEOS</h1></div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-5">embedded video goes here</div>
        <div class="col-5">table of videos goes here</div>
    </div>
    <div class="row">
        <app-media></app-media>
    </div>
</div>